body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: rgb(255, 255, 250);
}

.logo {
    border: 5px solid black;
    border-radius: 100px;
}

.headerlinks {
    display: flex;
    list-style-type: none;
}