body {
    margin: 0;
    padding: 0;
    font-family: 'Hero New', sans-serif;
    background-color: rgb(255, 255, 250);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
}

.logo {
    border: 3px solid black;
    border-radius: 100px;
    height: 55px;
    width: 55px;
}

.headerlinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 22px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 250);
}

.titlecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 32px 54px 32px 54px;
    margin: 0;
    color: rgb(255, 255, 250);
    flex-wrap: wrap;
}

.titletext {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px
    flex-shrink: 1;
}

.titleimage {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-items: center;
    flex-shrink: 0;
}
